@using System.Globalization
@using Library.Core
@model Library.Core.BookList
<form id="formBooks">
    @Html.HiddenFor(model => model.PageNo)
    @Html.HiddenFor(model => model.Search)
    @if (!User.IsInRole(Global.ROLE_ADMINISTRATOR))
    {
        <p><b>Number of book subscribed to : @Model.Books.Count(p => p.IsSubscribed == true)</b></p>
        <p><b>Total Account : R @Model.Books.Where(p => p.IsSubscribed == true).Sum(p => p.PurchasePrice).ToString("#0.00", CultureInfo.InvariantCulture)</b></p>
    }
    <table class="listTable">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th style="width: 15%;">
                    Author
                </th>
                <th style="width:12%;">
                    Purchase Price
                </th>
                <th style="width: 18%;"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Books)
            {
                <tr>
                    <td>
                        <img src='@Url.Content(string.IsNullOrWhiteSpace(item.ImageName) ? "~/images/nc-sm.gif" : $"~/{Global.IMAGE_FOLDER_NAME}/{item.ImageName}")' class="bookImage" />
                        @if (item.IsSubscribed == true)
                        {
                            <i class="fas fa-check-circle green"></i>
                        }
                        @item.Name
                    </td>
                    <td>
                        @item.Author
                    </td>
                    <td style="text-align: right;">
                        R @Math.Round(item.PurchasePrice, 2, MidpointRounding.AwayFromZero).ToString("#0.00", CultureInfo.InvariantCulture)
                    </td>
                    <td style="text-align: center;">
                        <button class="btn" title="More Information" onclick="MoreInfo('@item.Text.Replace("'", "&#39;")', '@item.Name.Replace("'", "&#39;")', '@Url.Content(string.IsNullOrWhiteSpace(item.ImageName) ? "~/images/nc-sm.gif" : $"~/{Global.IMAGE_FOLDER_NAME}/{item.ImageName}")');return false;"><i class="fas fa-info-circle"></i></button>
                        @if (User.IsInRole(Global.ROLE_ADMINISTRATOR))
                        {
                            <button class="btn" onclick="OpenEdit('@item.BookID');return false;" title="Edit Book"><i class="fas fa-edit"></i></button>
                            <button class="btn" onclick="OpenRemove('@item.BookID', '@item.Name.Replace("'", "&#39;")');return false;" title="Remove Book"><i class="fas fa-trash"></i></button>
                        }
                        else
                        {
                            @if (item.IsSubscribed == true)
                            {
                                <button class="btn" title="Unsubscribe" onclick="Unsubscribe('@item.BookID');return false;"><i class="fas fa-cart-arrow-down"></i></button>
                            }
                            else
                            {
                                <button class="btn" title="Subscribe" onclick="Subscribe('@item.BookID');return false;"><i class="fas fa-shopping-cart"></i></button>
                            }
                        }
                    </td>
                </tr>
            }
            @if (!Model.Books.Any())
            {
                <tr>
                    <td colspan="10">No Books Found</td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="10">
                    <table class="paging">
                        <tr>
                            <td style="width: 150px;">
                                @if (Model.PageNo > 1)
                                {
                                    <a href="#" class="back btn">Back</a>
                                }
                            </td>
                            <td class="center">@Model.PageNo of @(Model.NoPages == 0 ? 1 : Model.NoPages) @Html.Raw("Page" + (Model.NoPages > 1 ? "s" : ""))</td>
                            <td style="width: 150px;">
                                @if (Model.PageNo != Model.NoPages && Model.NoPages > 0)
                                {
                                    <a href="#" class="next btn">Next</a>
                                }
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr style="background: transparent; color: black;">
                <td style="text-align: right;" colspan="10">
                    No. items per page @Html.DropDownListFor(model => model.ItemsPerPage, new SelectList(new List<int> { 10, 20, 50 }, Model.ItemsPerPage), new { @class = "ddl" })
                </td>
            </tr>
        </tfoot>
    </table>
</form>
