@using Library.Core
@{
    Layout = "_Layout";
}

@if (User.IsInRole(Global.ROLE_RESELLER))
{
<div>
    <a href="@Url.Action("Index","Home",null, Url.ActionContext.HttpContext.Request.Scheme)swagger" class="btn" target="_blank">View API Calls</a>
</div>
}
@if (User.IsInRole(Global.ROLE_ADMINISTRATOR))
{
    <div>
        <input type="button" class="btn" data-toggle="modal" data-target="#dialog-NewBook" value="New Book"/>
    </div>
}
<div>
    Search on Books  <input type="text" id="txtSearch" class="textbox" /> <input type="button" class="btn" value="Search" id="cmdSearch" />
</div>
<br />
<div id="BooksList">
</div>

<div id="dialog-NewBook" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 id="lblNewBookHeader">Add New Book</h2>
            </div>
            <div class="modal-body">
                <input type="hidden" id="hdBookID"/>
                <table style="width: 100%;">
                    <tr>
                        <td><b>Name</b></td>
                        <td><input type="text" class="textbox" id="txtNewName"/></td>
                    </tr>
                    <tr>
                        <td><b>Description</b></td>
                        <td><textarea id="txtNewText" class="textarea" rows="3"></textarea></td>
                    </tr>
                    <tr>
                        <td><b>Purchase Price</b></td>
                        <td><input type="number" class="textbox" id="txtNewPrice"/></td>
                    </tr>
                    <tr>
                        <td><b>Book Image</b></td>
                        <td>
                            <input type="text" disabled class="passwordbox" id="txtNewBookImage"/>
                            <input type="file" id="fuBook" style="display: none;" />
                            <input type="button" class="actionbtn" value="Select Book Image" id="cmdBook" onclick="LoadImageDialog();"/>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button class="btn" onclick="AddBook();return false;">Save</button>
                <button class="btn" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="dialog-MoreInfo" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2>More Information : <label id="lblMoreInfoHeading"></label></h2>
            </div>
            <div class="modal-body">
                <table style="width: 100%;">
                    <tr>
                        <td style="width: 100px;">
                            <img class="bookImageMoreInfo" id="imgMoreInfo"/>
                        </td>
                        <td>
                            <div id="divMoreInfo" style="text-align: justify; text-justify: inter-word;"></div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="dialog-RemoveConfirmation" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2>Remove Book : <label id="lblRemoveHeading"></label></h2>
            </div>
            <div class="modal-body">
                <input type="hidden" id="hdRemoveBookID" />
                Are you sure you wish to remove/deactivate <label id="lblRemoveBody"></label>?
            </div>
            <div class="modal-footer">
                <button class="btn" onclick="RemoveBook();return false;">Yes</button>
                <button class="btn" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        function Subscribe(bookID) {
            $("#overlayLoadGenerate").show();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Subscribe")',
                data: { bookID: bookID },
                success: function(data) {
                    $("#overlayLoadGenerate").hide();
                    if (data === "") {
                        SuccessMessage("#BooksList", "Subscribed successfully");
                        LoadBookList();
                    } else {
                        AlertMessage("#BooksList", data);
                    }
                }
            });
        }

        function Unsubscribe(bookID) {
            $("#overlayLoadGenerate").show();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Unsubscribe")',
                data: { bookID: bookID },
                success: function(data) {
                    $("#overlayLoadGenerate").hide();
                    if (data === "") {
                        SuccessMessage("#BooksList", "Unsubscribed successfully");
                        LoadBookList();
                    } else {
                        AlertMessage("#BooksList", data);
                    }
                }
            });
        }

        function MoreInfo(info, name, imageName) {
            $("#divMoreInfo").html(info);
            $("#lblMoreInfoHeading").text(name);
            $("#imgMoreInfo").attr("src",imageName);
            $("#dialog-MoreInfo").modal('show');
        }

        function OpenEdit(bookID) {
            $("#overlayLoadGenerate").show();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetBook")',
                data: { bookID: bookID },
                success: function(result) {
                    $("#overlayLoadGenerate").hide();
                    $("#hdBookID").val(result.bookID);
                    $("#lblNewBookHeader").text("Edit Book : " + result.name);
                    $("#txtNewName").val(result.name);
                    $("#txtNewText").val(result.text);
                    $("#txtNewPrice").val(result.purchasePrice);
                    $("#txtNewBookImage").val(result.ImageName);

                    $("#dialog-NewBook").modal('show');
                }
            });
        }

        function AddBook() {
            if ($("#txtName").val() === "" || $("#txtNewPrice").val() === "") {
                AlertMessage(".modal-content", "Please supply both a name and purchase price.");
            } else {
                var book = $("#dialog-NewBook").serializeArray();
                book.push({ name: 'BookID', value: $("#hdBookID").val() });
                book.push({ name: 'Name', value: $("#txtNewName").val() });
                book.push({ name: 'Text', value: $("#txtNewText").val() });
                book.push({ name: 'PurchasePrice', value: $("#txtNewPrice").val() });
                book.push({ name: 'ImageName', value: $("#txtNewBookImage").val() });

                $("#overlayLoadGenerate").show();
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("SaveBook")',
                    data: book,
                    success: function(data) {
                        $("#overlayLoadGenerate").hide();
                        if (data === true) {
                            SuccessMessage("#BooksList", "Book successfully saved");
                            $("#dialog-NewBook").modal('hide');
                            LoadBookList();
                        } else {
                            AlertMessage(".modal-content", "Something went wrong");
                        }
                    }
                });
            }
        }

        function OpenRemove(bookID, name) {
            $("#hdRemoveBookID").val(bookID);
            $("#lblRemoveHeading").text(name);
            $("#lblRemoveBody").text(name);
            $("#dialog-RemoveConfirmation").modal('show');
        }

        function RemoveBook() {
            $("#overlayLoadGenerate").show();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("RemoveBook")',
                data: { bookID: $("#hdRemoveBookID").val() },
                success: function(result) {
                    $("#overlayLoadGenerate").hide();
                    if (result === true) {
                        $("#dialog-RemoveConfirmation").modal('hide');
                        SuccessMessage("#BooksList", "Book removed successfully");
                        LoadBookList();
                    } else {
                        AlertMessage(".modal-content", "Something went wrong");
                    }
                }
            });
        }

        $(document)
            .ready(function() {
                LoadBookList();

                $("#cmdSearch")
                    .click(function() {
                        $("#Search").val($("#txtSearch").val());
                        LoadBookList();
                    });

                $("#fuBook")
                    .change(function() {
                        if (window.FormData !== undefined) {
                            var fileUpload = $(this).get(0).files;

                            var fileData = new FormData();
                            fileData.append("files", fileUpload[0]);

                            $.ajax({
                                url: '@Url.Action("SaveBookImage")',
                                type: "POST",
                                contentType: false,
                                processData: false,
                                data: fileData,
                                success: function(result) {
                                    if (result === "") {
                                        AlertMessage(".modal-content", @TempData[Global.FAILURE_KEY]);
                                    } else {
                                        $("#txtNewBookImage").val(result);
                                        SuccessMessage(".modal-content", "Image successfully saved");
                                    }
                                }
                            });
                        } else {
                            AlertMessage(".modal-content", "FormData is not supported.");
                        }
                    });
            });

        function LoadBookListScripts() {
            $(".back")
                .click(function() {
                    $("#PageNo").val(parseInt($("#PageNo").val()) - 1);
                    LoadBookList();
                });

            $(".next")
                .click(function() {
                    $("#PageNo").val(parseInt($("#PageNo").val()) + 1);
                    LoadBookList();
                });

            $("#ItemsPerPage")
                .change(function() {
                    LoadBookList();
                });
        }

        function LoadBookList() {
            $("#overlayLoadGenerate").show();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("LoadBookList")',
                data: $("#formBooks").serialize(),
                success: function(data) {
                    $('#BooksList').html(data);
                    LoadBookListScripts();
                    $("#overlayLoadGenerate").hide();
                }
            });
        }

        function LoadImageDialog() {
            $("#fuBook").click();
        }
    </script>
}