<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Library System</title>
    <link rel='shortcut icon' type='image/x-icon' href='@Url.Content("~/images/favicon.ico")' />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css">
</head>
<body>
    <header>
        <table style="width: 100%;">
            <tr>
                <td><img src="@Url.Content("~/Images/1024 wide banner.jpg")" style="width: 100%;" /></td>
            </tr>
            <tr>
                <td style="text-align: right;">@await Html.PartialAsync("_LoginPartial")</td>
            </tr>
        </table>
    </header>
    <div id="overlayLoadGenerate" class="overlay">
        <div class="overlayContent">
            <h2>Generating...</h2>
            <img src="@Url.Content("~/Images/loading.gif")" alt="Loading" />
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>
    <footer>
        <div style="text-align: center; line-height: 45px;">&copy; @DateTime.Now.Year</div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#overlayLoadGenerate").hide();
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
